/*body*/
body{
    background-color: rgb(230, 230, 218);
}


/*head of the website*/
#main-head{
    color: rgb(75, 5, 5);
 } 


#nit-heading{
    /* background-image: linear-gradient(rgb(170, 139, 139),rgb(230, 132, 132)); */
    /* background-image: linear-gradient(rgb(233, 119, 119),rgb(202, 150, 150)); */
    position: relative;
    float:right;
    font-size: 60px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    color: rgb(75, 5, 5);
}

#ini-heading{
    /* background-image: linear-gradient(rgb(233, 175, 175),rgb(202, 150, 150)); */
    /* background-image: linear-gradient(rgb(170, 139, 139),rgb(230, 132, 132)); */
    position: relative;
    float: right;
    font-size: 40px;
    margin-top: 0px;
    margin-right: 330px;
    border-radius: 5px;
    color: rgb(75, 5, 5);
}


/*logo of nit kkr website*/
#logo{
    width: 30vh;
    box-shadow: 10px 10px 5px grey;
}

/*navigation bar*/
nav{
    background-color:#6c0c0e;
}
nav ul{
    list-style: none;
    display: flex;
    color: white;
    margin-left: 15px;
}
nav ul li{
    margin-right: 20px;
    padding: 15px;
    font-size: 15px;
    text-align: center;
}
nav ul li a{
    color: white;
}
.home,nav ul li:hover{
    background-color: #5e0406;
}
.nav-sub{
    box-sizing: border-box;
    position: absolute;
    z-index: 10;;
}
.nav-sub ul{
    margin-top: 14px;
    margin-left: -15px;
    position: absolute;
    background-color: #6c0c0e;
    padding-left: 0px;
    display: none;
}
.nav-sub ul li{
    width: 150px;
    margin-right: 0px;
}
nav ul li:hover .nav-sub ul{
    display:block;
}
.nav-sub ul li:hover{
    background-color: #5e0406;
    box-shadow: 2px 2px grey;
}
.nav-sub ul li:hover .nav-sub ul{
    display: block;
}

/*marquee headine*/
.headline{
    margin-top: 20px;
    background-color: rgb(65, 61, 61);
    padding: 5px;
    color: white;
}

/*Body section*/
.main-body{
    display: flex;
}

/*notification box*/
.notification{
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 230px;
    float: right;
}
#notify-head{
    /* background-image: linear-gradient(#6c0c0e,#aa3537); */
    background-color: #6c0c0e;
    width: 284px;
    padding: 10px;
    text-align: center;
    color: ivory;
    border-radius: 3px;
    font-size: 20px;
}


/*Slide show*/
.slideshow{
    position: relative;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 0px;
    display: flex;
}

.main-body img{
    box-shadow: 10px 10px 5px grey;
}

#leftbtn{
    position:absolute;
    margin-top: 150px;
}
#rightbtn{
    position:absolute;
    margin-top: 150px;
    margin-left: 662px;
}
#left{
    padding: 10px;
    background-color: transparent;
    font-size: 30px;
    border-style: none;
    color: white;
    box-shadow: 2px grey;
}
#left:hover{
    background-color: #ccc;
}
#right{
    padding: 10px;
    background-color: transparent;
    font-size: 30px;
    border-style: none;
    color: white;
    box-shadow: 2px grey;
}
#right:hover{
    background-color: #ccc;
}

/*Footer*/
.footer{
    margin-top: 300px;
    background-color:rgb(46, 43, 43);
}
.footer a:hover{
    color: blue;
}
.main-footer{
    display: flex;
    margin-top: 300px;
    color: white;
    margin-top: 10px;
}
.main-footer a{
    color: white;
}
.foot-two{
    margin-left: 300px;
}
.foot-three{
    margin-left: 300px;
}
.footer p{
    color: white;
    text-align: center;
    padding: 20px;
}
.foot-four{
    margin-left: 450px;
}
.foot-four img:hover{
    box-shadow: 5px 5px grey;
}
.foot-img{
    margin-top: 30px;
    margin-left: 20px;
    height: 60px;
    border-radius: 10px;
}
